.body {
  background-color: white;
  margin: auto;
  -webkit-text-size-adjust: 100%;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

.bg {
  margin: auto;
}

.hd-1 {
  width: 100%;
  height: 180px;
  background-color: #181818;
}

.hd-2 {
  table-layout: fixed;
  height: 100%;
  margin: auto;
}

.hd-3 {
  background-color: white;
}

.slider{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0px;
}

.slider img{
  height: auto;
  width: 100%;
}

.slick-initialized .slick-slide{
  opacity: 0.6; /* 両サイドの画像を透過 */
}
.slick-initialized .slick-slide.slick-active{
  opacity: 1; /* センター画像を非透過 */
}

.slick-prev{
  left: 80px;
  }
.slick-next{
  right: 80px;
}

.hd-4-0 {
  width: 236px;
  height: auto;
  display: inline-block;
  object-fit: cover;
  object-position: 100% 100%;
}

.hd-4-1 {
  width: 944px;
  height: auto;
  display: inline-block;
  object-fit: cover;
}

.hd-4-2 {
  width: 236px;
  height: auto;
  display: inline-block;
  object-fit: cover;
  object-position: 0% 0%;
}

.hd-4-3 {
  width: 236px;
  height: auto;
  display: none;
  object-fit: cover;
  object-position: 0% 0%;
}

.hd-4 ul {
  margin: 0;
  padding-left: 0;
}

.hd-4 li {
  margin: auto;
}

.hd-4 img {
  width: 100%;
  left: 0;
  top: 0;
}

.dd {
  width: 100%;
  height: 180px;
  top: 180px;
  z-index: 10;
  background-color: #181818;
  display: none;
}

.dd div {
  height: 50%;
  cursor: pointer;
}

.dd div:hover {
  background-color: #424242;
}

.bt-1 {
  display: block;
  width: 100%;
  vertical-align: middle;
  background-color: #181818;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.bt-1:hover {
  background-color: #424242;
}

.bt-1 div {
  position: relative;
  width: 100%;
}

.bt-1 div span {
  position: absolute;
  color: #fff;
  cursor: pointer;
  margin: 0;
  top: 50%;
  left: 50%;
  writing-mode: vertical-rl;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform : translateX(-50%) translateY(-50%);
  transform : translateX(-50%) translateY(-50%);
}

.mc-1 {
  width: 100%;
  margin: auto;
}

.mc-1-model {
  width: 100%;
  margin: auto;
  margin-top: 30px; 
}

.mc-2 {
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
  list-style: none;
  justify-content: center;
  margin: auto;
}

.mc-2 p {
  font-size: 15px;
  font-family: 'Yu Gothic', serif;
}

.mc-2-t {
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
  list-style: none;
  justify-content: center;
  margin: auto;
}

.mc-2-t p {
  color: white;
  font-size: 15px;
  font-family: 'Yu Gothic', serif;
}

.mc-2-3 {
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
}


.mc-2-model {
  width: 100%;
  background-color: #181818;
  table-layout: fixed;
  color: black;
  margin-bottom: 35px;
  cursor: pointer;
}

.mc-2-model p{
  margin: 0;
  text-decoration: underline;
}

.mc-3-model {
  width: 100%;
  margin: auto;
  text-align: center;
}

.mc-2-model-p {
  text-align: center;
}

.mc-3-model p{
  text-decoration: underline;
  margin: 0;
}

.mc-3-model p span{
  color: black;
  font-size: 1vw;
  font-weight: 200;
  font-family: 'Yu Gothic', serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mc-3-1 {
  width: 100%;
  cursor: pointer;
}

.mc-3-2 {
  width: 100%;
  margin: auto;
}

.mc-3-2-1 {
  cursor: pointer;
  margin: auto;
}

.mc-3-2-1-model {
  width: inherit;
}

.mc-3-3 {
  width: 30%;
}

.mc-3-4 {
  width: 100%;
}

.new-1 {
  margin: auto;
  margin-top: 30px;
}

.mt-1 {
  width: 100%;
  text-align: center;
  table-layout: fixed
}

.mt-1 p {
  font-size: 15px;
  font-family: 'Yu Gothic', serif;
}

.mt-1 p span {
  color: black;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Yu Gothic', serif;
  border-bottom: solid 1px;
}

.mt-2 {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.aa-1 {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  font-size: 15px;
  line-height: 1.3125;
}

.ft-1 {
  height: 80px;
  background-color: #181818;
  margin-top: 100px;
}

.ft-2 {
  position: relative;
  width: 100%;
}

.ft-3 {
  padding-top: 20px;
  margin: auto;
}

.ft-4{
  margin: auto;
  color: #ffffff;
  font-size: 15px;
}

.btt {
  position: absolute;
  width: 130px;
  height: 60px;
  right: 20px;
  bottom: 0;
  cursor: pointer;
}

.profile {
  width: 100%;
  border: none;
  overflow: auto;
  -ms-overflow-style: none;
  font-size: 15px;
  line-height: 1.3125;
  color: black;
  font-family: 'Yu Gothic', serif;
  resize: none;
}

.profile::-webkit-scrollbar{
    display:none;
}

.news {
  font-size: 15px;
  font-weight: 200;
  font-family: 'Yu Gothic', serif;
  border-bottom: solid 1px #E6E6E6;
}

.fm-1 {
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.send {
  width: 100px;
  font-size: x-large;
}

.ip-1 {
  position: relative;
  width: 80%;
  margin:  0 auto 20px auto;
}

.ip-1 input[type='text'] {
  font-size: large;
  font-family: 'Yu Gothic', serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: black;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.ef input[type='text']:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.ip-1 textarea {
  font-size: large;
  font-family: 'Yu Gothic', serif;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: black;
  border: 1px solid #1b2538;
  border-radius: 4px;
  resize: none;
}

.ef textarea:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

input::placeholder {
  color: red;
  opacity: 0.6;
}

textarea::placeholder {
  color: red;
  opacity: 0.6;
}

.send {
  background-color: #181818;
  border:1px solid #181818;
  border-radius: 4px;
  color: white;
  line-height: 50px;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
}

.send:hover {
  border:1px solid #181818;
  background-color: #424242;
}

.send:active {
  background: #181818;
  color: #181818;
}

.cb-1 {
  position: relative;
  width: 100%;
  height: 70px;
  margin:  0 auto 20px auto;
}

.cb-2 {
  position: relative;
  background-color: white;
  width: 20%;
  height: 100%;
  font-family: 'Yu Gothic', serif;
  box-sizing: border-box;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: black;
  border: 1px solid #1b2538;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

.cb-3 {
  position: absolute;
  top: -20px;
  left: 27px;
}

.cb-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fm-ip {
  position: relative;
  margin: 26px 0 0 0;
  cursor: pointer;
  pointer-events: none;
}

.cb-font {
  font-size: 15px;
  position: relative;
  top: 25px;
  left: -3px;
}

.fm-ip:before {
  position: absolute;
  z-index: 1;
  top: 0.125rem;
  left: 0.1875rem;
  width: 0.8em;
  height: 0.4em;
  content: '';
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          transition:         transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
          transform: rotate(-45deg) scale(0, 0);
  border: 2px solid #da3c41;
  border-top-style: none;
  border-right-style: none;
}

.fm-ip:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
          transform: rotate(-45deg) scale(1, 1);

}

.fm-ip:after {
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1em;
  height: 1em;
  content: '';
  border: 2px solid #181818;
  background: #ffffff;
}

.mt-3 {
  position: relative;
  width: 80%;
  height: 70px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.mt-3 div{
  width: 70%;
  height: 100%;
  margin: auto;
}

.mt-3 input {
  display: none;
}

.mt-3 label{
  display: block;
  float: left;
  cursor: pointer;
  width: 50%;
  margin: 0;
  padding: 10px;
  background: white;
  color: black;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: .2s;
  border: 1px solid #181818;
}

.mt-3 label:first-of-type{
  border-radius: 3px 0 0 3px;
  padding: 30px 0 30px 0;
}

.mt-3 label:last-of-type{
  padding:26px 0 30px 0;
  border-radius: 0 3px 3px 0;
}

.mt-3 input[type="radio"]:checked + .switch-on {
  background-color: #181818;
  color: white;
  padding: 26px 0 30px 0;
}

.mt-3 input[type="radio"]:checked + .switch-off {
  background-color: #181818;
  color: white;
  padding: 30px 0 30px 0;
}

.mt-4 {
  width: 100%;
  text-align: center;
  table-layout: fixed
}

.mt-4 p {
  font-family: 'Yu Gothic', serif;
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
}

.mt-5 {
  width: 100%;
  text-align: center;
  table-layout: fixed
}

.mt-5-model {
  width: 100%;
  table-layout: fixed;
}

.mc-2-model .mt-5-model {
  display: none;
  width: 100%;
  margin: auto;
}

.mt-5 p {
  font-family: 'Yu Gothic', serif;
  color: black;
  font-size: 15px;
  line-height: 1.3125;
  font-weight: bold;
  text-decoration: underline;
}

.mt-5-model p {
  font-family: 'Yu Gothic', serif;
  color: black;
  font-size: 15px;
  line-height: 1.3125;
}

.mt-5-1-model p {
  width: 100%;
  font-family: 'Yu Gothic', serif;
  color: black;
  font-size: 15px;
  line-height: 1.3125;
  margin: auto;
}

.ip-1 p {
  font-size: 15px;
  font-family: 'Yu Gothic', serif;
}
