    <div class="bg">
      <div class="fm-1">
        <div class="mt-1">
          <p><span>制作実績</span></p>
        </div>
        <div class="mc-2 white">
          <p><span>【直近制作実績】</span></p>
          <div class="aa-1">
            </br>
            <p><span>株式会社アニプレックス・株式会社QuatroA / 『東方キャノンボール』</span></p>
            <p><span>Live2D 仕様、モデル監修</span></p>
            </br>
            <p><span>合同会社GirlsPromotion / vtuber 桜春めあ</span></p>
            <p><span>キャラクターデザイン、モデリング、アニメーション</span></p>
            </br>
            <p><span>合同会社GirlsPromotion / vtuber 桜春ゆめ</span></p>
            <p><span>キャラクターデザイン、モデリング、アニメーション</span></p>
            </br>
            <p><span>株式会社ZIZAI / vtuber</span></p>
            <p><span>原画、モデリング、アニメーション</span></p>
            </br>
            <p><span>他、省略</span></p>
            </br>
          </div>
        </div>
        <div class="mc-2 white">
          <p><span>【制作ジャンル】</span></p>
          <div class="aa-1">
            </br>
            <p><span>・ソーシャルゲーム</span></p>
            <p><span>・コンシューマーゲーム</span></p>
            <p><span>・CM</span></p>
            <p><span>・映像作品(PR映像 地上派アニメ)</span></p>
            <p><span>・vtuber</span></p>
            <p><span>・その他</span></p>
            </br>
            <p><span>上記、100タイトル以上の制作</span></p>
            </br>
          </div>
        </div>
        <div class="mc-2 white">
          <p><span>【実務内容】</span></p>
          <div class="aa-1">
            </br>
            <p><span>・イラスト制作</span></p>
            <p><span>・Live2D制作</span></p>
            <p><span>・Live2Dモデル監修</span></p>
            <p><span>・Live2D仕様監修</span></p>
            <p><span>・書籍監修</span></p>
            <p><span>・講義 講演</span></p>
            </br>
            <p><span>上記、制作歴10年以上</span></p>
            </br>
          </div>
        </div>
        <div class="mc-2 white">
          <p><span>【経歴】</span></p>
          <div class="aa-1">
            </br>
            <p><span>2011年 株式会社Live2D デザイナー</span></p>
            <p><span>2016年 株式会社Live2D デザイナー 退社</span></p>
            <p><span>2016年 個人事業『αSTUDIO』代表</span></p>
            <p><span>2020年 現在-</span></p>
            </br>
            </br>
          </div>
        </div>
        <div class="mc-2 white">
          <p><span>【認定実績】</span></p>
          <div class="aa-1">
            </br>
            <p><span>株式会社クラウドワークス　プロクラウドワーカー認定</span></p>
            <p><span>デザイナー部門契約ランキング　9位</span></p>
            </br>
          </div>
        </div>
      </div>
    </div>
