<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Shirasawa Web</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js?<?php h(time())?>"></script>
    <script type="text/javascript" src="/js/<?php h($main->name); ?>.js?<?php h(time())?>"></script>
    <link rel="stylesheet" type="text/css" href="/css/style_sp.css?<?php h(time())?>" media="screen and (max-width:300px)">
    <link rel="stylesheet" type="text/css" href="/css/style.css?<?php h(time())?>" media="screen and (min-width:600px)">
    <link rel="stylesheet" type="text/css" href="/css/style_sp.css?<?php h(time())?>" media="screen and (max-width:600px)">
    <link rel="stylesheet" type="text/css" href="/css/common.css?<?php h(time())?>">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  </head>
  <body class="body">
    <div class="hd-1">
      <div class="hd-2 flex">
        <li id="top" class="bt-1 flex"><div><span>TOP</span></div></li>
        <li id="twitter" class="bt-1 flex"><div><span>Twiter</span></div></li>
        <li id="pixiv" class="bt-1 flex"><div><span>pixiv</span></div></li>
        <li class="bt-1 flex"><div id="information" ><span>制作案内</span><div class='dd'><div id="pop1"><span>Live2D</span></div><div id="pop2"><span>Illustration</span></div></div></div></li>
        <li id="achievement" class="bt-1 flex"><div><span>制作実績</span></div></li>
        <li id="contact" class="bt-1 flex"><div><span>お問い合わせ</span></div></li>
      </div>
    </div>

