    <div class="bg">
      <div class="mc-1">
        <div class="mt-1">
          <p><span>Live2D 制作案内</span></p>
        </div>
        <div class="mc-2 white">
          <div class="mt-5">
            <p><span>長年の技術、知識を活かし、最高品質のモデル・モーションの制作をいたします。</span></p>
            <p><span></br></span></p>
            <p><span>ただ制作するのではなく表現など様々なご提案も含めたご発注者様へご安心いただけるような受注を常日常に行っており</span></p>
            <p><span>様々なご発注者様より非常に高い評価をいただいております。</span></p>
            <p><span></br></span></p>
            <p><span>小規模～大規模タイトルのアプリ用のLive2D、映像作品など全ての制作経験がございますので全て対応可能となっております。</span></p>
            <p><span></br></span></p>
            <p><span>また、Live2Dデザイナー＆イラストレーターという双方の技術がございますので、原画制作～モデル制作まで一貫した制作も可能でございます。</span></p>
          </div>
        </div>
      </div>
      <div class="mc-1-model">
        <div class="mt-1">
          <p><span>各種 制作案内</span></p>
        </div>
        <div id="first" class="mc-2-model white" style="margin-top:10px;">
          <p class="mc-2-model-p"><span> モデル制作</span></p>
          <div class="mt-5-model first">
            <p><span>モデル制作には、ご用意していただいた原画を加工する手順（Live2Dモデル化に必要なパーツ分け）が含まれます。</span></p>
            <p><span></br></span></p>
            <p><span>モデル制作の際には、ご発注者様が具体的にモデルを何に使用したいのか、しっかりとヒアリングした上でモデルの構造や負荷計算など、</span></p>
            <p><span>細やかな部分まで決定した上で着手いたします。</span></p>
            <p><span></br></span></p>
            <p><span>イラストレーターのノウハウを活かしつつ、破綻の無い綺麗なモデル制作をいたします。</span></p>
          </div>
        </div>
        <div id="second" class="mc-2-model white">
          <p class="mc-2-model-p"><span>モーション制作</span></p>
          <div class="mt-5-model second">
            <p><span>モーション制作では、ヒアリングで決定した必要モーションを制作いたします。</span></p>
            <p><span></br></span></p>
            <p><span>Live2Dの特性上モーションの癖が強く出てしまい、作品のクオリティが大きく左右しますので、ノウハウを活かしつつ、</span></p>
            <p><span>不自然なく魅力のあるモーション制作をいたします。</span></p>
          </div>
        </div>
        <div id="third" class="mc-2-model white">
          <p class="mc-2-model-p"><span>組み込みデータ制作</span></p>
          <div class="mt-5-model third">
            <p><span>アプリ制作の際に必須となる、物理演算設定、当たり判定設定、表情設定、モーション設定、ポーズの設定などの設定、書き出しを行います。</span></p>
            <p><span></br></span></p>
            <p><span>FaceRig（フェイスキャプチャー）で使用想定の場合は、各種ファイル設定をした上で書き出しを行います。</span></p>
            <p><span></br></span></p>
            <p><span>※通常、上記【モデル制作】【モーション制作】【組み込みデータ制作】がワンセットとなります。</span></p>
          </div>
        </div>
        <div id="fourth" class="mc-2-model white">
          <p class="mc-2-model-p"><span>モデルデータ監修</span></p>
          <div class="mt-5-model fourth">
            <p><span>モデルデータの監修では、ご発注者様がお持ちのモデルファイルのクオリティアップの調整、ご提案をいたします。</span></p>
            <p><span></br></span></p>
            <p><span>「モデル制作をしてみたけど、リリースまでにもっとクオリティを上げたいので調整してほしい。」</span></p>
            <p><span>「モデル制作をしているが、クオリティアップの為になにか提案がほしい。」等、様々なご要望にお答えいたします。</span></p>
          </div>
        </div>
        <div id="fifth" class="mc-2-model white">
          <p class="mc-2-model-p"><span>仕様監修</span></p>
          <div class="mt-5-model fifth">
            <p><span>仕様監修では、タイトル開発初めから、Live2D物量など全て考慮しオススメのLive2D仕様の決定をいたします。</span></p>
            <p><span></br></span></p>
            <p><span>ご発注者様の表現などのご要望を汲み取りつつ、最適なモデル仕様を検討いたします。</span></p>
            <p><span></br></span></p>
            <p><span>Live2Dの特性上導入部分からの仕様がしっかり決まっていないと後ほどの修正がききにくい状況になってしまいます。</span></p>
            <p><span>つきましては、原画の準備の仕方など細やかな部分までしっかりとサポートし、無駄のない制作のサポートをいたします。</span></p>
            <p><span></br></span></p>
            <p><span>初めてLive2Dを導入するとなると不安の多いご発注者様が多いかと存じますので、不安材料を無くしつつ様々なご提案をいたします。</span></p>
            <p><span></br></span></p>
            <p><span>※仕様監修を当方にご発注いただく企業様が多くなっておりますので是非検討いただけますと幸いでございます。</span></p>
          </div>
        </div>
        <div id="sixth" class="mc-2-model white">
          <p class="mc-2-model-p"><span>派遣型デザイナー教育</span></p>
          <div class="mt-5-model sixth">
            <p><span>派遣型デザイナー教育では、社内のLive2Dのデザイナーを増やしたい等といった場合、期間制で直接オフィスへ伺いデザイナー様へレクチャーいたします。</span></p>
            <p><span></br></span></p>
            <p><span>当デザイナー教育では、実装できるモデルを制作できるまでが目標となっております。</span></p>
            <p><span></br></span></p>
            <p><span>※こちらにつきましては、要スケジュール確認、調整となります。</span></p>
          </div>
        </div>
        <div id="seventh" class="mc-2-model white">
          <p class="mc-2-model-p"><span>登壇・講義依頼</span></p>
          <div class="mt-5-model seventh">
            <p><span>登壇・講義依頼では、各種イベント、勉強会などでのノウハウのプレゼンなどを行います。</span></p>
            <p><span>カンファレンス登壇・講義など豊富な経験がございますので、ご相談いただけたらと存じます。</span></p>
            <p><span></br></span></p>
            <p><span>※こちらにつきましては、要スケジュール確認、調整となります。</span></p>
          </div>
        </div>
      </div>
      <div class="mc-1-model">
        <div class="mc-2 white">
          <div class="mc-3-model">
            <img class="mc-3-2-1-model" src="/img/model.png">
          </div>
        </div>
      </div>
      <div class="mc-1">
        <div class="mt-1">
          <p><span>制作料金</span></p>
        </div>
        <div class="mc-2 white">
          <div class="mt-5-1-model">
            <p><span>一般的な、ワンセット【モデル制作】【モーション制作】【組み込みデータ制作】につきましては、イラストの複雑具合、求める表現によって大きく工数が変わりますので、</span></p>
            <p><span>厳密には設定しておりません。</span></p>
            <p><span></br></span></p>
            <p><span>※Live2Dに関しましては、性質上、即発注はオススメしておりません。</span></p>
            <p><span></br></span></p>
            <p><span>最適な仕様を確定してからの制作開始の方がリスク、コスト上メリットがございます。</span></p>
            <p><span>お受けさせていただく場合はご案内いたしますので、まずは早めのご相談をお願いいたします。</span></p>
            <p><span></br></span></p>
            <p><span>他、制作サービスにつきましては、要内容のご相談となりますので、まずは早めのご相談をお願いいたします。</span></p>
          </div>
        </div>
      </div>
      <div class="mc-1">
        <div class="mt-1">
          <p><span>おすすめプラン</span></p>
        </div>
        <div class="mc-2 white">
          <div class="mt-5-1-model">
            <p><span>キャラクターデザインから全てをお任せいただくプランがオススメとなっております。</span></p>
            <p><span></br></span></p>
            <p><span>私、白沢飾音がキャラクターデザインをしそのまま一貫してモデル制作まで行うことで、無駄のない原画制作をすることが可能となっております。</span></p>
            <p><span></br></span></p>
            <p><span>原画段階で他イラストレーター様へご発注する際に使用を伝えるのが面倒...</span></p>
            <p><span>モデル制作する前に修正をしたいがイラストレーターへ戻す時間がない...などなど</span></p>
            <p><span></br></span></p>
            <p><span>煩わしい手順が省けますので大変オススメのプランとなっております。</span></p>
            <p><span>また、途中段階の制作コストが削減できるため、予算を抑えたいご発注者様へ様々なメリットがございますので是非ご検討いただけますと幸いでございます。</span></p>
          </div>
        </div>
      </div>
      <div class="mc-1-model">
        <div class="mc-2 white">
          <div class="mc-3-model">
            <img class="mc-3-2-1-model" src="/img/design.png">
          </div>
        </div>
      </div>
    </div>
