<table>
        <tr>
          <th class="caption_1">アーチスト・イベント名</th>
          <th class="caption_2">公演日</th>
          <th class="caption_3">会場</th>
          <th class="caption_4">地区</th>
          <th class="caption_5">備考</th>
        </tr>
        
        <?php foreach($result as $prepare) ?>
        <tr>
          <td class="caption_1"><?php echo $prepare['deta'] ?></td>
          <td class="caption_2"><?php echo $column['startData'] ?></td>
          <td class="caption_3"><?php echo $column[''] ?></td>
          <td class="caption_4"><?php echo $column['prefectureName'] ?></td>
          <td class="caption_5"><?php echo $column[''] ?></td>
        </tr>
</table>